
# ignore our downloaded webpages
*.html
data/pages_list/*.txt
data/pages_main/*.txt

# ignore python stuff
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc
__pycache__


# ignore the idea editor files
.idea


